body{
    display: flex;
    flex-flow: column;
    align-items: center;
}
h1 {
    color: #34656c;
}

.contenido{
    width: 90%;
    height: 500px;
    background-color: #34656c;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
}
/*Pseudo clases:____________________________________*/
/* elemento que no ah sido visitado*/
a:link {
    color: rgb(22, 223, 22)
}
/* elemento que ah sido visitado*/
a:visited{
    color: pink;
}
/* elemento que cambia al pasar mause*/
a:hover{
    background-color: #0f8e8ead 
}
/* todas las clases p menos la que tenga la clase usaran el efecto*/
p:not(.top){
    color: red;
}
/*de la clase el div hijito asignado cambia*/
.favorito div:nth-child(even) {
    color: rgb(94, 142, 23);
}
/*Pseudo lementos:____________________________________*/
/*El antes*/
.save::before{
    content: "luo binghe ";
}
/*el despues*/
.save::after{
    content: " Shen qigqiu";
}
.shadow {
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 50%;
}

.circle {
    width: 200px;
    height: 200px;
    background-color:red;
    border-radius: 50%;
}
/*translate(X,y,)*/
.circle:hover{
    transform: translate(50px,0px);
}

.circulo{
    width: 70px;
    margin: 10px;
    height: 70px;
    background-color: #c9fec2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cuadradoredondeado {
    width: 70px;
    margin: 10px;
    height: 70px;
    background-color: #c9fec2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elmentodiamanteo{
    width: 70px;
    margin: 10px;
    height: 70px;
    border-radius: 20px 0px;
    background-color: #c9fec2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elmentocuadrado {
    width: 70px;
    margin: 10px;
    height: 70px;
    background-color: #c9fec2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scale1:hover{
    /* transform: scale(0.8, 0.2); */
    transform: scale(0.8);
}
.scaley:hover{
    transform: scaley(0.8);
}
.scalex:hover{
    transform: scaleX(0.8);
}
.skeewx:hover{
    transform: skewx(20deg);
}
.skeewxy:hover{
    transform: skewX(30deg);
}

.rotate:hover{
    transform: rotate(50deg);
}
.rotatey:hover{
    transform: rotatey(50deg);
}
.traformOrigin{
    width: 70px;
    margin: 10px;
    height: 70px;
    background-color: #c9fec2;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: left bottom;
}
.traformOrigin:hover{
    transform: rotate(30deg);
}
.cajade3d{
    width: 100%;
    height: 200px;
    background-color: #c9fec2;
    display: flex;

}
.boxnumberOne{
    width: 100px;
    border: 3px solid black;
    background-color: #34656c;
    height: 100px;
    margin: 20px;
    position: relative;
    perspective: 100px;
}
.valor1{
    width: 100px;
    height: 100px;
    border: 3px solid pink;
    position: absolute;
    background-color: papayawhip;
    opacity: 0.5;
    transform-style:preserve-3d ;
    transform: rotatex(20deg) ;
    perspective-origin: 100% 100%;
}