*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
}

body{
    background-color: aliceblue;
    display: flex;
    flex-flow: column;
}

h1{
    display: block;
    width: 100%;
    background-color: darkslategray;
    text-align: center;
    padding: 10px;
    color: azure;
}

.content{
    width: 90%;
    height: 200px;
    margin: 70px auto;
}
h2{
    text-align: center;
    color: darkslategray;
}

.box{
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    height: auto;
}
.centrado-titulo{
    text-align: center;
    margin-bottom: 10px;
}
.box-sub{
background-color: #cdc0c0;
display: flex;
padding: 10px;
align-items: center;
justify-content:space-around;
border-radius: 10px;
border: 2px solid;
}

.box-sub-niv{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

p{
    padding: 10px;
}
.circle {
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 50%;
}
.cubo{
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 10px;
}

.rectangulo{
    width: 100px;
    height: 80px;
    background-color: red;
}
.traslado{
    background-color: darkgreen;
}
 .traslado:hover{
    transform: translate(-20px , 20px);
 }
 .trasladoX{
    background-color: darkgreen;
 }
 .trasladoX:hover{
    transform: translateX(50px);
 }
 .trasladoY{
    background-color: darkgreen;
 }
 .trasladoY:hover{
    transform: translateY(50px);
 }

.scale{
    background-color: darkgreen;
}
.scale:hover{
    transform: scale(1.4);
}
.scaleY{
    background-color: darkgreen;
}
.scaleY:hover{
    transform: scaleY(1.4);
}
.scaleX{
    background-color: darkgreen;
}
.scaleX:hover{
    transform: scaleX(1.4);
}
.skew{
    background-color: darkgreen;
}
.skewY{    background-color: darkgreen;
}
.skewX{    background-color: darkgreen;
}
.skew:hover{
transform: skew(40deg);
}
.skewX:hover{
    transform:skewX(40deg);
}
.skewY:hover{
    transform:  skewY(40deg);
}
.rotate{    background-color: darkgreen;
}
.rotateY{    background-color: darkgreen;
}
.rotateX{    background-color: darkgreen;
}
.rotate:hover{
    transform: rotate(90deg)
}
.rotateX:hover{
    transform: rotateX(50deg)
}
.rotateY:hover{
    transform:rotateY(50deg);
}

.origin1{
    background-color: darkgreen;
    transform-origin: right top;
}
.origin2{
    background-color: darkgreen;
    transform-origin: right bottom;
}
.origin3{
    background-color: darkgreen;
    transform-origin: left top;
}
.origin4{
    background-color: darkgreen;
    transform-origin: left boottom;
}
.origin1:hover{
    transform: rotate(20deg);
}
.origin2:hover{
    transform: rotate(20deg);
}
.origin3:hover{
    transform: rotate(20deg);
}
.origin4:hover{
    transform: rotate(20deg);
}